{erl_opts, [debug_info]}.
%%{erl_opts, [debug_info, {d, 'MONGO_DEBUG'}]}.
{
    deps, [
    {nbson, {git, "https://github.com/nomasystems/nbson.git", {br1anch, "main"}}}
    , {pbkdf2, ".*", {git, "https://github.com/emqx/erlang-pbkdf2.git", {tag, "2.0.4"}}}
    , {poolboy, {git, "https://github.com/devinus/poolboy.git", {tag, "1.5.2"}}}
]
}.